#ud-navbar{
    display: flex;
    justify-content: space-around;
    font-family: prominder, sans-serif;
    padding: 0.4rem 0;
    height: 6%;
    align-items: center;
}

#ud-navbar button{
    border: none;
    padding: 0 0;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #D8D8D8;
}

#ud-navbar button:active{
    background-color: #a3a3a3;
}

#ud-navbar button:focus{
    background-color: #a3a3a3;
}

#ud-initials{
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8D8D8;
}

#ud-user{
    display: flex;
    align-items: center;
}

#ud-signout{
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13%2012h9m0%200l-3.333-4M22%2012l-3.333%204%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M14%207V5.174a2%202%200%200%200-2.166-1.993l-8%20.666A2%202%200%200%200%202%205.84v12.32a2%202%200%200%200%201.834%201.993l8%20.667A2%202%200%200%200%2014%2018.826V17%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    background-position: center;
    margin: auto auto;
    color: #D8D8D8;
}