@font-face { 
    font-family: prominder; 
    src: url('assets/fonts/prominder/PROMINDER\ Regular.otf'); 
} 

@font-face { 
    font-family: avenir; 
    src: url('assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf'); 
}

@font-face { 
    font-family: avenir-bold; 
    src: url('assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf'); 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body{
    padding: 0 0;
    margin: 0 0;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

html {
    box-sizing: border-box;
  }