@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face{
    font-family: prom;
    src:  url('../assets/prominder.regular.otf');
}
.signupbox{
margin: 15px;
display: flex;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
padding: 1%;
}

.textfield{
	/* margin: 100px; */
}

.signup-button{
   display: inline;
   margin-top: 10px;
}

.toggle-login{
   display: inline;
   font-family: Montserrat;
}

