@font-face{
    font-family: prom;
    /*src:  url('../../../assets/prominder.regular.otf');*/
    src:  url('./assets/prominder.regular.otf');

}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:15px;
    justify-content: center;
}

.logo{
width: 306px;
height: 106px;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
padding-bottom: 30px;
}

.welcome-message{
    padding: 0;
    margin-left: 0;

font-family: prom;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.045em;
color: #000000;
}

.mascot{
width: 127px;
height: 127px;
display: inline;
align-items: center;
}

.prompt1{
display: flex;
flex-direction: column;
width: auto;
height: 30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 650;
font-size: 18px;
line-height: 22px;
text-align: center;
padding-bottom:50px;
color: #000000;
padding-top:40px;
}

.downArrow{
    display: block;
    width: 42px;
    height: 19px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}
