#root img.logo {
    height: 14%;
    margin: auto auto;
}

.welcome-container {
    height: 86%;
}

.hero-section {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: prominder;
    height: 30%;
}

.home-page-listing {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: space-around;
}

.home-listing-description {
    font-family: monospace;
    font-weight: 800;
    font-size: 0.9rem;
    width: 55%;
    margin-top: 1rem;
}

.home-page-listing img.downArrow {
    width: 3rem;
    margin-top: 1rem;
}

/* .welcome-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom:15px;
    justify-content: center;
    /*overflow: hidden;
}

.logo {
    height: 14%;
    aspect-ratio: 3;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.welcome-message{
    padding: 0;
    margin-left: 0;

font-family: prom;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.045em;
color: #000000;
}

.mascot{
width: 127px;
height: 127px;
display: inline;
align-items: center;
}

.prompt1{
display: flex;
flex-direction: column;
width: auto;
height: 30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 650;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-bottom:50px;
color: #000000;

}

.downArrow{
    display: block;
    width: 42px;
    height: 19px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
} */
