#UDchat {
    height: 83%;
    background-color: #FFFED4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#chat-header {
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    background-color: #F3EFEF;
}

#chat-header > * {
    margin: auto auto;
}

#chat-namelist {
    flex-basis: 20%;
    margin: auto 0;
    text-align: center;
}

#chat-namelist button {
    padding: 0;
    margin: auto auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3efef;
}

#chat-namelist button:active{
    background: #d1cece;
}

#chat-namelist button:focus{
    background: #d1cece;
}

#chat-morebutton {
    flex-basis: 20%;
    margin: auto 0;
    text-align: center;
}

#chat-otheruser{
    max-height: 100%;
    flex-basis: 50%;
    margin: 0 auto;
}

#chat-img{
    width: 2rem;
    text-align: center;
    margin: 4px auto;
    border: 1px solid #F7F123;
    border-radius: 50%;
    background-color: white;
}

#chat-img img{
    display: block
}

#chat-footer {
    background-color: #F3EFEF;
    height: 8%;
    display: flex;
    justify-content: space-evenly;
}

#chat-emoji {
    flex-basis: 20%;
    margin: auto 0;
    text-align: center;
}

#chat-textbox {
    max-height: 100%;
    flex-basis: 50%;
    margin: 0 auto;
}

#chat-send {
    flex-basis: 15%;
    margin: auto 0;
    text-align: center;
}

#chat-send-wrap {
    width: 2rem;
    margin: auto auto;
    aspect-ratio: 1;
    position: relative;
    background-color: #FFFDA9;
    border-radius: 50%;
    margin-right: 21px;
}

#chat-send-wrap:active{
    background-color: #eceb8f;
    border: 1px #c3c266 solid;
}
#chat-send-wrap:focus{
    background-color: #eceb8f;
    border: 1px #c3c266 solid;
}

#chat-send-wrap svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat-emoji svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chat-emoji-wrap {
    width: 2rem;
    margin: auto auto;
    aspect-ratio: 1;
    position: relative;
    background-color: #FFFDA9;
    border-radius: 50%;
}

#chat-textbox {
    max-height: 100%;
    height: 80%;
    flex-basis: 73%;
    margin: auto auto;
    position: relative;
    background: #E2E2E2;
    padding-left: 1rem;
    border-radius: 10px;
}

#chat-textbox input {
    margin: auto auto;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #E2E2E2;
    height: 100%;
    width: 86%;
    padding: 0;
}

#chat-textbox input:focus {
    outline: 0;
}

#chat-main {
    height: 84%;
    overflow: auto;
    font-family: roboto, sans-serif;
    padding: 0 0.6rem;
    position: relative;
}

#chat-main img {
    width: 2rem;
    border-radius: 50%;
    background-color: white;
    border: 2px #F7F123 solid;
}

.chat-main-text:last-child {
    margin-bottom: 1rem;
}

#chat-main-no-chat {
    height: 84%;
    overflow: auto;
    font-family: roboto, sans-serif;
    padding: 0 0.6rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1rem;
}

.text-info {
    display: flex;
    font-family: monospace;
    font-size: small;
}

.text-time {
    padding-left: 0.4rem;
}

.main-text {
    max-width: 70%;
    background: #F1EF95;
    padding: 0.6rem 0.8rem;
    border-radius: 13px;
    word-break: break-all;
}

.home-text, .other-text{
    margin-top: 1rem;
    display: flex;
}

.other-text .text-info {
    margin-left: 0.7rem;
}

.other-text .main-content {
    margin-left: 0.6rem;
}

.home-text .text-time {
    margin-right: 0.4rem;
}

.main-content{
    margin-top: 1rem;
}
.home-text {
    flex-direction: row-reverse;
}

.home-text .text-info {
    /* margin-left: auto; */
    flex-direction: row-reverse;
    margin-right: 1.6rem;
}

.home-text .main-text {
    margin-left: auto;
    margin-right: 0.8rem;
}

.other-text img, .home-text img{
    align-self: flex-start;
}

#side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 31%;
    background: #F3F3F3;
    border-radius: 0 30px 30px 0;
    transition: ease 1s;
    overflow: scroll;
    transform: translateX(-100%);
    border: 1px solid #c7c7c7;
}

.person-item, .person-active-item {
    height: 13%;
    display: flex;
    border-bottom: 2px solid #c3c3c3;
}

.person-active-item{
    background-color: #EEEDCE;
}

.person-active-item.no-contact{
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
}

.chat-info-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.profile-icon {
    width: 20%;
    position: relative;
}

.chat-info {
    height: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.user-text {
    height: 50%;
    position: relative;
    margin-right: 1rem;
    overflow: hidden;
}

.user-text span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.profile-icon img {
    width: 2rem;
    border-radius: 50%;
    background-color: white;
    border: 2px #F7F123 solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#close-trade {
    position: sticky;
    border-radius: 50%;
    border: 2px solid darkolivegreen;
    display: flex;
    width: 32px;
    margin-left: auto;
    bottom: 20px;
    top: 20px;
}

#close-section  button{
    margin: 0.3rem 0;
}

#close-section {
    position: fixed;
    background-color: #dfdfdf;
    width: 90%;
    height: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    border: 3px solid #efff47;
    z-index: 2;
}

#close-section  h1{
    margin: 0;
    font-family: prominder;
    font-size: 25px;
}

#close-section svg.iconify.iconify--carbon{
    position: absolute;
    top: 7px;
    right: 10px;
}

.form-wrapper {
    width: 80%;
    margin: auto auto;
}

.form-element{
    width: 100%;
}

.form-element > * {
    width: 100%;
    margin-top: 0.5rem !important;
}

.form-element-width-setter{
    margin: 0 30px;
}