.greenbtn {
    border: 2px solid #000;
    border-radius: 30px;
    background-color: #52bd00;
    box-shadow: inset 0 -4px 0 0 rgb(0 0 0 / 34%);
    transition: all 500ms ease;
    font-family: prominder, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    padding: 6px 25px;
    transition: all 500ms ease;
}

.greenbtn:hover:active {
    box-shadow: inset 0 3px 0 0 rgb(0 0 0 / 34%);
    cursor: pointer;
}

.greenbtn.active {
    box-shadow: inset 0 3px 0 0 rgb(0 0 0 / 34%);
    cursor: pointer;
}

.greenbtn:disabled{
    background-color: grey;
}