#UDlistings{
    height: 83%;
}

#listings-head{
    height: 12%;
    display: flex;
    background-color: #F3EFEF;
    justify-content: space-around;
    position: relative;
}

.head-item{
    flex-basis: 33.3%;
    text-align: center;
    margin: auto auto;
    font-family: avenir-bold, sans-serif;
}

#listings-main{
    height: 88%;
    overflow: scroll;
}

#head-line{
    position: absolute;
    width: 95%;
    height: 5px;
    background-color: #ffffff;
    bottom: 12%;
    border-radius: 3px;
}

#active-line {
    position: absolute;
    left: 0;
    height: 100%;
    width: 33.3%;
    background-color: #D1C904;
    border-radius: 3px;
    transition: 0.6s;
}


.list-item{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFEEB;
    height: 5rem;
}

.list-item:nth-child(even){
    background-color: #FCFABF;
}

.list-sub-item{
    margin: auto auto;
    text-align: center;
}

.list-sub-item button{
    padding: 0 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;
}

.list-sub-item button:focus{
    border: 1px solid #cdcdcd;
    background-color: #f3f3eb;
}
.list-sub-item button:active{
    border: 1px solid #cdcdcd;
    background-color: #f3f3eb;
}

.list-sub-item.name {
    flex: 1 1 20%;
}

.list-sub-item.currency {
    flex: 1 1 10%;
}

.list-sub-item.amount {
    flex: 1 1 10%;
}

.list-sub-item.period {
    flex: 1 1 10%;
}

.list-sub-item.ButtonIcon {
    flex: 1 1 2%;
    display: flex;
    justify-content: center;
}

.list-item.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}