@font-face{
    font-family: prom;
    src:  url('../assets/prominder.regular.otf');
}
.loginbox{
margin: 15px;
display: flex;
flex-direction: column;
/* flex-wrap: nowrap; */
justify-content: center;

}

.textfield{
	margin: 10px;
}

.login-button{
   display: inline-block;
   margin-top: 10px;
   margin-inline: 30%;
}

.toggle-signup{
      display: inline;
   font-family: Montserrat;
}

/* showcase */

.toggle-signup{
   margin-top: 2rem;
   text-align: center;
}