#ud-footer{
    background-color: #F7F123;
    height: 9%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 13px 13px 0px 0px;
}

#ud-footer .greenbtn{
    height: 2.2rem;
    padding: 6px 19px;
}

